object {
  max-width: 100%;
  _width: 100%;
}

img {
  max-width: 100%;
  _width: 100%;
  height: auto;
  width: auto\9; /* ie8 */
  margin: 1em 0 1em 0;
}

img {
  border: none;
  -ms-interpolation-mode: bicubic; /* Improve IE's resizing */
}

svg:not(:root) {
  overflow: hidden
} /* Correct IE9 overflow */


@media screen and (max-width: 1200px) {

  [role="header"] h1 {
    font-size: 1.8em;
  }

  [role="main"] {
    width: 80%;
    margin: 0 auto;
  }

  .well {
    float: none;
    width: 100%;
    height: auto;
  }

  footer[role="contentinfo"] {

    padding: 2em;

    .buttons {
       display: none;
    }

  }
}