.well {
  width: 30%;
  margin: 0 0 2em 2%;
  display: inline-block;
  padding: 1.8em 1.4em 1.2em 1.8em;
  color: #4B5C66;
  max-height: 30em;
  font: {
    size: .9em;
  }
  position: relative;
  .new {
    position: absolute;
    right: -.5em;
    top: 1.5em;
    @include rounded(.2em);
    background-color: rgba(#7AB317, .8);
    text-align: center;
    font-size: 1em;
    color: white;
    padding: .4em .7em .4em .7em;
  }
}

.well1 {
  @extends .well;
  @include rounded(5px);
  border: 1px solid #DBE1E4;
  @include box-shadow(rgba(0, 0, 0, 0.4) 0 1px 1px 0);
}

.well2 {
  @extends .well;
  @include rounded(6px);
  box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
}

.well3 {
  @extends .well;
  color: #007AC7;
  border: 1px solid #DCDFE2;
  @include rounded(4px);
  background-color: $white;
  @include gradient($white, #FBFBFB);
}

.well4 {
  @extends .well;
  border: 1px solid #CCC;
  background-color: $white;
  @include rounded(2px);
}

.well5 {
  @extends .well;
  background-color: whiteSmoke;
  @include rounded(5px);
  @include box-shadow(rgba(0, 0, 0, 0.25) 0 1px 3px 0, $white 0 1px 0 inset);
}

.well6{
  @extends .well;
  @include rounded(3px);
  border: 1px solid #D9D9D9;
  @include box-shadow(rgba(0, 0, 0, 0.1) 0 1px 2px 0 inset);
}

.well7 {
  @extends .well;
  border: 1px solid lighten(#CCC, 8%);
  @include rounded(.25em);
  background-color: $white;
  @include box-shadow(#ccc 0 .333em 0 0);
}

.well8 {
  @extends .well;
  @include rounded(8px);
  @include box-shadow(rgba(50, 50, 50, 0.5) 0 1px 2px 0 inset);

}

.well9 {
  @extends .well;
  background-color: $white;
  border-left: 4px solid lighten($black, 80%);
}

.well10 {
  @extends .well;
  @include rounded(12px);
  @include box-shadow(rgba(0, 0, 0, 0.15) 0 2px 5px 2px inset);
}

.well11 {
  @extends .well;
  background-color: white;
  background-image: url(http://basehold.it/i/74/ff0000);

}

.well12 {
  @extends .well;
  box-shadow: 1px 1px 5px rgb(140, 140, 140);
  background-color: white;
}

.well13 {
  @extends .well;
  background-color: lighten(#FFC, 1%);
  @include box-shadow(rgba(0, 0, 0, 0.3) 0 0 10px 0);
  color: lighten($black, 10%);
}

.well14 {
  @extends .well;
  background: url(http://basehold.it/i/24/0099ff) $white;
  @include box-shadow(rgba(0, 0, 0, 0.3) 0 0 10px 0);
  color: lighten($black, 10%);
}

.well15 {
  @extends .well;
  border: 1px solid lighten($black, 90%);
  background-color: $white;
  @include box-shadow(#FBFBFC 10px 0 0 0 inset, #ECECF0 11px 0 0 0 inset);
}

.well16 {
  @extends .well;
  background-image: url(../img/stripes.png);
  @include box-shadow(rgba(136, 136, 136, .7) 0 0 3px 1px inset);
  @include rounded(5px);
}

.well17 {
  @extends .well;
  border-bottom: 1px solid white;
  border-right: 1px solid white;
  background: rgba(0, 0, 0, 0.04);
  @include rounded(4px);
  @include box-shadow(rgba(0, 0, 0, .12) 0 1px 2px 0 inset);
}

.well18 {
  @extends .well;
  background: whiteSmoke;
  border: 2px dotted lighten($black, 80%);
  @include rounded(4px);
  @include box-shadow(whiteSmoke 0 0 0 4px inset, rgba(10, 10, 0, .3) 2px 1px 4px 4px inset);
  text-shadow: -1px -1px whiteSmoke;
}

.well19 {
  @extends .well;
  text-shadow: 0 1px white;
  border: 1px solid;
  border-color: #cfcfcf #d6d6d6 #c8c8c8;
  @include linear-gradient(color-stops(rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.25) 100%), left top, left bottom);
  @include box-shadow(white 0 1px 0 0 inset, rgba(255, 255, 255, .7) 0 0 0 1px inset, #dadada 0 2px 0 0, #c4c4c4 0 3px 0 0, rgba(0,0,0,0.1) 0 4px 3px 0);
}

.well20 {
  @extends .well;
  position: relative;
  padding-left: 3em;
  border: 1px solid #c3baaa;
  border-color: rgba(195, 186, 170, 0.9);
  text-shadow: 0 1px 1px white;
  background-color: #f2f6c1;

  // SASS-ify this later */
  background-image: -webkit-radial-gradient(center, cover, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0.1) 90%), -webkit-repeating-linear-gradient(top, transparent 0%, transparent 29px, rgba(239, 207, 173, 0.7) 29px, rgba(239, 207, 173, 0.7) 30px);
  background-image: -moz-radial-gradient(center, cover, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0.1) 90%), -moz-repeating-linear-gradient(top, transparent 0%, transparent 29px, rgba(239, 207, 173, 0.7) 29px, rgba(239, 207, 173, 0.7) 30px);
  background-image: -o-radial-gradient(center, cover, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0.1) 90%), -o-repeating-linear-gradient(top, transparent 0%, transparent 29px, rgba(239, 207, 173, 0.7) 29px, rgba(239, 207, 173, 0.7) 30px);

  @include box-shadow(white 0 1px 0 0 inset, rgba(255, 255, 255, .7) 0 0 0 1px inset, #dadada 0 2px 0 0, #c4c4c4 0 3px 0 0, rgba(0,0,0,0.1) 0 4px 3px 0);

  &:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 28px;
    width: 2px;
    border: solid #efcfad;
    border-color: rgba(239, 207, 173, 0.9);
    border-width: 0 1px;
  }
}

.well21 {
  @extends .well;
  background-color  : rgb(248, 248, 248);
  text-shadow       : 0 1px rgb(252, 252, 252);
  border            : 1px solid;
  border-color      : rgb(218, 218, 218) rgb(213, 213, 213) rgb(207, 207, 207);
  border-radius     : 3px;

  @include box-shadow(rgb(252, 252, 252) 0 0 0 1px inset, rgba(0, 0, 0, 0.05) 0 1px 2px 0);
}