.well {
  width: 30%;
  margin: 0 0 2em 2%;
  display: inline-block;
  padding: 1.8em 1.4em 1.2em 1.8em;
  color: #4B5C66;
  max-height: 30em;
  height: 20em;
  font: {
    size: .9em;
  }
  position: relative;
  .new {
    position: absolute;
    right: -.5em;
    top: 1.5em;
    @include rounded(.2em);
    background-color: rgba(#7AB317, .8);
    text-shadow: none;
    text-align: center;
    font-size: 1em;
    color: white;
    padding: .4em .7em .4em .7em;
    z-index: 10;
  }
}

.well1 {
  @extend .well;
  @include rounded(5px);
  border: 1px solid #DBE1E4;
  @include box-shadow(rgba(0, 0, 0, 0.4) 0 1px 1px 0);
}

.well2 {
  @extend .well;
  @include rounded(6px);
  box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
}

.well3 {
  @extend .well;
  color: #007AC7;
  border: 1px solid #DCDFE2;
  @include rounded(4px);
  background-color: $white;
  @include gradient($white, #FBFBFB);
}

.well4 {
  @extend .well;
  border: 1px solid #CCC;
  background-color: $white;
  @include rounded(2px);
}

.well5 {
  @extend .well;
  background-color: whiteSmoke;
  @include rounded(5px);
  @include box-shadow(rgba(0, 0, 0, 0.25) 0 1px 3px 0, $white 0 1px 0 inset);
}

.well6{
  @extend .well;
  @include rounded(3px);
  border: 1px solid #D9D9D9;
  @include box-shadow(rgba(0, 0, 0, 0.1) 0 1px 2px 0 inset);
}

.well7 {
  @extend .well;
  border: 1px solid lighten(#CCC, 8%);
  @include rounded(.25em);
  background-color: $white;
  @include box-shadow(#ccc 0 .333em 0 0);
}

.well8 {
  @extend .well;
  @include rounded(3px);
  @include box-shadow(rgba(50, 50, 50, 0.5) 0 1px 2px 0 inset);

}

.well9 {
  @extend .well;
  background-color: $white;
  border-left: 4px solid $profile;
}

.well10 {
  @extend .well;
  @include rounded(3px);
  @include box-shadow(rgba(0, 0, 0, 0.15) 0 1px 1px 1px inset);
}

.well11 {
  @extend .well;
  background-color: white;
  background-image: url(http://basehold.it/i/74/ff0000);

}

.well12 {
  @extend .well;
  box-shadow: 1px 1px 5px rgb(140, 140, 140);
  background-color: white;
}

.well13 {
  @extend .well;
  background-color: white;
  border: 1px solid lighten(black, 70%);

  &:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 20px;
    left: 0;
    width: 100%;
    border: dotted lighten(black, 70%);
    border-width: 1px 0px;
  }

}

.well14 {
  @extend .well;
  background: url(http://basehold.it/i/24/0099ff) $white;
  @include box-shadow(rgba(0, 0, 0, 0.3) 0 0 10px 0);
  color: lighten($black, 10%);
}

.well15 {
  @extend .well;
  border: 1px solid lighten($black, 90%);
  background-color: $white;
  @include box-shadow(#FBFBFC 10px 0 0 0 inset, #ECECF0 11px 0 0 0 inset);
}

.well16 {
  @extend .well;
  background-image: url(../img/stripes.png);
  @include box-shadow(rgba(136, 136, 136, .7) 0 0 3px 1px inset);
  @include rounded(2px);
}

.well17 {
  @extend .well;
  border-bottom: 1px solid white;
  border-right: 1px solid white;
  background: rgba(0, 0, 0, 0.04);
  @include rounded(4px);
  @include box-shadow(rgba(0, 0, 0, .12) 0 1px 2px 0 inset);
}

.well18 {
  @extend .well;
  background: whiteSmoke;
  @include rounded(4px);
  @include box-shadow(whiteSmoke 0 0 0 4px inset, rgba(10, 10, 0, .3) 2px 1px 3px 3px inset);
  text-shadow: -1px -1px whiteSmoke;
}

.well19 {
  @extend .well;
  text-shadow: 0 1px white;
  border: 1px solid;
  border-color: #cfcfcf #d6d6d6 #c8c8c8;
  @include background-image(linear-gradient(rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.25) 100%), left top, left bottom);
  @include box-shadow(white 0 1px 0 0 inset, rgba(255, 255, 255, .7) 0 0 0 1px inset, #dadada 0 2px 0 0, #c4c4c4 0 3px 0 0, rgba(0,0,0,0.1) 0 4px 3px 0);
}

.well20 {
  @extend .well;
  position: relative;

  border: 1px solid #c3baaa;
  border-color: rgba(black, 0.1);
  text-shadow: 0 1px 1px white;
  background-color: lighten(#f2f6c1, 16%);

  // SASS-ify this later */
  background-image: -webkit-radial-gradient(center, cover, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0.1) 90%), -webkit-repeating-linear-gradient(top, transparent 0%, transparent 29px, rgba(33, 33, 33, 0.1) 29px, rgba(33, 33, 33, 0.1) 30px);
  background-image: -moz-radial-gradient(center, cover, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0.1) 90%), -moz-repeating-linear-gradient(top, transparent 0%, transparent 29px, rgba(33, 33, 33, 0.1) 29px, rgba(33, 33, 33, 0.1) 30px);
  background-image: -o-radial-gradient(center, cover, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0.1) 90%), -o-repeating-linear-gradient(top, transparent 0%, transparent 29px, rgba(33, 33, 33, 0.1) 29px, rgba(33, 33, 33, 0.1) 30px);

  @include box-shadow(white 0 1px 0 0 inset, rgba(255, 255, 255, .7) 0 0 0 1px inset, #dadada 0 2px 0 0, #c4c4c4 0 3px 0 0, rgba(0,0,0,0.1) 0 4px 3px 0);

  &:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 13px;
    width: 2px;
    border: solid rgba(blue, 0.3);
    border-width: 0 1px;
  }
}

.well21 {
  @extend .well;
  background-color  : rgb(248, 248, 248);
  text-shadow       : 0 1px rgb(252, 252, 252);
  border            : 1px solid;
  border-color      : rgb(218, 218, 218) rgb(213, 213, 213) rgb(207, 207, 207);
  @include rounded(3px);
  @include box-shadow(rgb(252, 252, 252) 0 0 0 1px inset, rgba(0, 0, 0, 0.05) 0 1px 2px 0);
}


.well22 {
  @extend .well;

  @include box-shadow(rgba(0, 0, 0, 0.15) 0 1px 1px 0 inset, white 0 1px 0);

  -webkit-background-clip: padding;
  -webkit-background-clip: padding-box;
  -moz-background-clip   : padding;
  -moz-background-clip   : padding-box;

  @include rounded(4px);

  background-clip        : padding-box;
  background             : rgb(238, 238, 238);
  background             : rgba(0, 0, 0, 0.05);
}

.well23 {
  @extend .well;

  @include box-shadow(rgba(252, 252, 252, .7) 0 0 0 6px inset, rgba(0, 0, 0, 0.05) 0 1px 2px 0);
  @include box-shadow(rgba(0,0,0, .1) 0 0 0 1px inset, rgba(0, 0, 0, 0.1) 0 3px 2px 0);
  background: white;

  position: relative;

  &:after,
  &:before {
    background: #f6f6f6;
    border: 1px solid #ccc;
    bottom: -3px;
    content: '';

    left: 2px;
    position: absolute;
    width: auto;
    z-index: -10;

    -webkit-box-shadow: 0 0 3px hsla(0, 0%, 0%, .2);
    -moz-box-shadow   : 0 0 3px hsla(0, 0%, 0%, .2);
    box-shadow        : 0 0 3px hsla(0, 0%, 0%, .2);
  }
  &:before {
    bottom: -5px;
    left: 5px;
    width: 98%;
  }
}

