strong, b {
    font-weight: bold;
}

i, em, blockquote {
    font-style: italic;
}

html, body {
    min-height: 100%;
}

html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    background: rgb(255,255,255);
    overflow-y: scroll;
}

/*
SELECTIONS
--------------------------------------------- */

::-moz-selection {
    background: #2F4461;
    color: rgb(255,255,255);
    text-shadow: none;
}

::selection {
    background: #2F4461;
    color: rgb(255,255,255);
    text-shadow: none;
}

::selection:window-inactive {
    background: #2F4461;
    color: rgb(50,50,50);
}

img::selection {
    background: transparent;
}

img::-moz-selection {
    background: transparent;
}

/*
BASE TYPOGRAPHY
--------------------------------------------- */

h1, h2, h3, h4, h5, h6 {
    -moz-font-feature-settings: "liga=1, kern=1";
    -ms-font-feature-settings: "liga" 1, "kern" 1;
    text-rendering: optimizeLegibility;
    font-weight: normal;
    font-family: "Roboto", sans-serif;
}


h1 {
    font-size: 2rem;
    @media #{$breakpoint-lg} {
        font-size: 3rem;
    }
}

h2 {
    font-size: 1.5rem;
    @media #{$breakpoint-lg} {
        font-size: 2rem;
    }
}

p {
    font-weight: 300;
    font-size: 1rem;
    line-height: 1.8;
    color: $gulpsetup;
    @media #{$breakpoint-md} {
        font-size: 1.2rem;
    }
}

abbr {
    text-transform: lowercase;
    font-variant: small-caps;
    letter-spacing: 0.1em;
    cursor: help;
}

sub, sup {
    vertical-align: baseline;
    position: relative;
    font-size: 65%;
    line-height: 0;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

blockquote {
    margin: 2.5em 0 2.5em 1.80203em;
    color: rgb(90,90,90);
    position: relative;
    font-style: normal;
}

ul, ol {
    margin-left: 0;
}

ul {
    list-style-type: disc;
}

ol {
    list-style-type: lower-roman;
}



h6 {
    font-weight: bold;
    margin: 0 0 1.5em;
}

pre,code {
    font: .9375em/1.26562em monospace, monospace;
    -webkit-font-smoothing: subpixel-antialiased;
}

pre {
    color: rgb(90,90,90);
    padding: 1.5em 1em;
    margin-bottom: 3em;
    line-height: 1em;
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.highlight {
    border-color: rgb(0,0,0);
    background: #fffccf;
    color: rgb(0,0,0);
    margin-top: 3em;
    padding: 0 .2em;
}