@charset "utf-8";

/*-------------------------------------------------------------------
Base
-------------------------------------------------------------------*/
@import "base/reset";

/* & */
.amp {
  font: {
    family: Baskerville,"Goudy Old Style","Palatino","Book Antiqua",serif;
    size: 110%;
    style: italic;
    weight: normal;
  }
}
